# Rust
target/
**/*.rs.bk

# Node
node_modules/

# Frontend build
dist/

# Tauri
src-tauri/target/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Env
.env
.env.local
